<div class="wrap-row">
    <div class="col-md-12">

        <div style="WIDTH: 100%; FLOAT: left">
            <div style="WIDTH: 100%; FLOAT: left">
                <div style="WIDTH: 100%; float: left">

                    <div class="form-group" id="form-tipos">
                        @{ Html.RenderPartial("StatusType"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>