@model Bayer.Pegasus.Web.Models.GenericReportModel
<div class="wrap-row">
    @if (Model.SalesStructureAccess.CanAccessMultiplePartners)
    {
        <div class="col-md-4 col-sm-6">
            <label>Parceiro</label>
            <div class="form-group fa fa-handshake-o" aria-hidden="true">
                <input class="form-control tokenFieldInput" placeholder="" id="TopProducts_Partners" data-bind="tokenField: Partners, tokenFieldRemote: '@Bayer.Pegasus.Utils.Configuration.Instance.PegasusAPIPartner'" />
                <span class="infoText">Você pode buscar por nome, CNPJ ou código SAP</span>
            </div>
        </div>
    }
    <div class="col-md-4 col-sm-6">
        <label>Unidades (Lojas)</label>
        <div class="form-group fa fa-shopping-cart" aria-hidden="true">
            <input class="form-control tokenFieldInput" placeholder="" id="TopProducts_Units" data-bind="tokenField: Units, tokenFieldRemote: '@Bayer.Pegasus.Utils.Configuration.Instance.PegasusAPIUnit', Parent: 'partner', ParentValue: Partners()" />
            <span class="infoText">Você pode buscar por nome, CNPJ ou código SAP</span>
        </div>
    </div>
</div>
<div class="wrap-row">
    <div class="col-md-4 col-sm-6">
        <div class="col-md-6" id="ano-comparativo">
            <div class="form-group">
                <label>Ano</label>
                <div class="form-group fa fa-calendar" aria-hidden="true">
                    <input class="form-control datepicker" placeholder="" id="Year" data-bind="value: Year,datePicker: Year, datePickerFormat: 'YYYY', datePickerViewMode: 'years'" />
                </div>
            </div>
        </div>
        <div class="col-md-6" id="numero-clientes">
            <div class="form-group">
                <label>Número de Produtos</label>
                <select class="form-control" data-bind="value: NumberProducts, bootstrapSelect: NumberProducts">
                    @for (int i = 1; i < 16; i++)
                    {
                        <option value='@i'>@i</option>
                    }
                </select>
            </div>
        </div>

    </div>
    <div class="col-md-4 col-sm-6">
        <label>Cliente</label>
        <div class="form-group fa fa-male" aria-hidden="true">
            <input class="form-control tokenFieldInput" placeholder="" id="TopProducts_Clients" data-bind="tokenField: Clients, tokenFieldRemote: '@Bayer.Pegasus.Utils.Configuration.Instance.PegasusAPIClient' , Parent: 'partner', ParentValue: Partners()" />
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-4" id="ano-comparativo">
        <div class="form-group">
            <label>Agrupamento</label>
            <div class="col-md-12">
                <div class="filtros-dados groupByTop">
                    <div class="tipo-agrupamento">
                        <a data-bind="click:RemoveGroupBy, css: { ativo: GroupBy() =='' }" class="btn btn-default">Produto</a>
                        <a data-bind="click:GroupByBrand, css: { ativo: GroupBy() =='Brand' }" class="btn btn-default">Marca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="salvar-analise" class="floatLeft col-md-8 alignHeightSave">
        <div class="form-group">
            <input id="r_salvar" type="checkbox" name="salvar-analise" data-bind="checked: ShouldSave" />
            <label class="label-intervalo" for="r_salvar"></label>
            Salvar Análise
        </div>
    </div>

</div>

<div class="form-buttons floatRight col-md-4" id="buttonsRelatorio" runat="server" visible="false">
    <button type="button" data-bind="click: GenerateChart" class="btn btn-cyan"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>Gráfico</span></button>
</div>