
<div id="chart-results" class="row panel-filtros">
    <div class="col-lg-12 title-row">
        <h2 id="titleFiltro" runat="server" class="title-tab col-md-6 fa fa-angle-left" visible="false" data-open="filtro-consulta">Resultados</h2>
        <div class="col-md-6 filtros-dados">
            <button class="btn btnSecundario print-tab" aria-hidden="true"><i class="fa fa-print" aria-hidden="true"></i>Imprimir</button>
        </div>
    </div>

    <div class="col-lg-12 formContent">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row graficos">
                    <div id="estoque" class="col-md-12">
                        <div class="evolucao">

                            <div class="wrap-grafico">
                                <div class="grafico" style="padding: 0px; position: relative;"><canvas class="flot-base" width="757" height="400" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 757px; height: 400px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 29px; text-align: center;">JAN</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 90px; text-align: center;">FEV</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 149px; text-align: center;">MAR</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 211px; text-align: center;">ABR</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 273px; text-align: center;">MAI</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 334px; text-align: center;">JUN</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 395px; text-align: center;">JUL</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 455px; text-align: center;">AGO</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 517px; text-align: center;">SET</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 577px; text-align: center;">OUT</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 638px; text-align: center;">NOV</div><div style="position: absolute; max-width: 109px; top: 386px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 700px; text-align: center;">DEZ</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 354px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 13px; text-align: right;">0</div><div style="position: absolute; top: 300px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 7px; text-align: right;">20</div><div style="position: absolute; top: 247px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 7px; text-align: right;">40</div><div style="position: absolute; top: 194px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 7px; text-align: right;">60</div><div style="position: absolute; top: 140px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 7px; text-align: right;">80</div><div style="position: absolute; top: 87px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 1px; text-align: right;">100</div><div style="position: absolute; top: 34px; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: normal; font-size: 11px; line-height: 13px; font-family: &quot;Helvetica Neue Bold&quot;; color: rgb(0, 97, 126); left: 1px; text-align: right;">120</div></div></div><canvas class="flot-overlay" width="757" height="400" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 757px; height: 400px;"></canvas><div class="legend"><div style="position: absolute; width: 0px; height: 0px; top: 45px; right: 45px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <div class="col-lg-12 formContent">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="panel">
                        <p>Filtro(s) Aplicado(s):</p>
                        <p><span id="FiltroAplicadoParc" style="font-weight: bold;"></span></p>
                        <span id="FiltroAplicado">
                        </span>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <!-- /.panel-body -->
                <!-- /.panel -->
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>