@model Bayer.Pegasus.Web.Models.GenericReportModel
<!-- Modal -->
<div class="modal fade" id="modalStockEvolution" role="dialog">
    <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content" data-bind="with:StockEvolutionViewModel">
            <div class="modal-header">
                <div class="row titleModal" id="titleModal" runat="server" visible="true">
                    <h2 class="title-tab">Evolução de Estoques</h2>
                    <span class="fechar-modal" data-dismiss="modal">x</span>
                </div>
            </div>

            <div class="modal-body">

                <form role="form">
                    <div class="row">
                        <div class="halfside col-md-12">
                            @{ Html.RenderPartial("FilterContent.cshtml", Model); }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>